.footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer > .todo-count {
    color: gray
}

.btn-group {
    position: relative;
    height: 20px;
    border: none;
    list-style: none;
    }

.filters {
    display: flex;
}

.btn-filter-item {
	display: inline-block;
	margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(71, 71, 71)
}

.radio-btn {
    display: none;
}

.btn-filter-item .selected  {
	text-decoration: underline;
}
 

.btn-filter-item:hover {
	color: #666;
}
 
.filters .clear-completed {
    margin-left: 90px
}

.todo-count {
    margin-top: 10px;
}
.footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
}

.todo-count {
    margin-top: 10px;
}

.clear-completed {
    border: none;
    
}